Repository EESSI/software-layer-scripts, pull requests merged in 2025-07, with the labels that each got.

#26 use `unionfs` overlay tool (+ debian12 build container that includes it) by default
  .github/workflows/test_eessi_container_script.yml
  eessi_container.sh
Labels: 2025.06-software.eessi.io, 2023.06-software.eessi.io

#2 filter ParMETIS dependency, since ParMETIS license doesn't allow redistribution
  EESSI-extend-easybuild.eb
  configure_easybuild
  load_eessi_extend_module.sh
Labels: 2025.06-software.eessi.io, 2023.06-software.eessi.io, bot:deploy

#27 Make `EESSI-extend` support accelerator installations
  .github/workflows/scripts/verify_eessi_environment.py
  .github/workflows/tests_eessi_extend_module.yml
  .github/workflows/tests_eessi_module.yml
  EESSI-extend-easybuild.eb
  EESSI-install-software.sh
  bot/build.sh
  run_in_compat_layer_env.sh
Labels: bot:deploy

#30 add EESSI/2025.06 module file (+ populate scripts for all CPU targets in 2025.06 software layer)
  EESSI-install-software.sh
  init/modules/EESSI/2023.06.lua
  init/modules/EESSI/2025.06.lua
  install_scripts.sh
  scripts/gpu_support/nvidia/easystacks/2023.06/eessi-2023.06-eb-4.9.4-2023a-CUDA-host-injections.yml
  scripts/gpu_support/nvidia/easystacks/2023.06/eessi-2023.06-eb-4.9.4-2023b-CUDA-host-injections.yml
Labels: bot:deploy

#39 print warning about `post_easyblock_hook` to stderr
  eb_hooks.py
Labels: bot:deploy

#43 Allow end users to add a family name to the EESSI module
  .github/workflows/tests_eessi_module.yml
  init/modules/EESSI/2023.06.lua
Labels: 2025.06-software.eessi.io, 2023.06-software.eessi.io, bot:deploy
